SECRET_KEY='your-django-secret-key'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=sqlite:///db.sqlite3

BAYSE_API_BASE_URL=https://relay.bayse.markets
BAYSE_PUBLIC_KEY=bayse-public-key
BAYSE_SECRET_KEY=bayse-secret-key

GEMINI_API_KEY=gemini-api-key
REDIS_URL=redis://localhost:6379/0

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# Firebase
FIREBASE_PROJECT_ID=edgeiq-hackathon
FIREBASE_CREDENTIALS_PATH=/home/peter_ajimoti/gdg_hackathon/Edge-IQ/backend/edgeiq-hackathon-firebase-adminsdk-fbsvc-9862e6274f.json
